  /* Estilos CSS para a calculadora */
body {
  font-family: Arial, sans-serif; /* muda a fonte */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white; /* muda a cor de fundo */
}
.calculadora {
  background-color: plum;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
#visor {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border: none;
}
.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* define o template/ formato da grid */
  gap: 5px; /* espaço */
}
button {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: plum;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* transição, cor de fundo */ 
}
button:hover {
  background-color: violet;
}
.operador {
  background-color: violet;
}
.operador:hover {
  background-color: plum;
}

#link-pagina{
  color:white;
  display:block;
  text-align:center;
  width:100%;
  margin-top:16px;
}